* {
    margin: 0;
    padding: 0;
}
.menu {
    width: 100%;
    height: 60px;
    background-color: rgb(125, 100, 194);
}
.conteudo {
    width: 100%;
}
.rodape {
    width: 100%;
    text-align: center;
    background-color: rgb(212, 87, 185);
}

.img-mobile {
    width: 100%;

}

@media screen and (min-width: 768px) {
    .menu{
        height: 100px;
        background-color: rgb(43, 226, 217);
    }
    .conteudo-home{
        display: flex;
        
    }
}
@media screen and (min-width: 1280px) {
    .menu {
        height: 150px;
        background-color: rgb(8, 8, 8);
    }
    
}
    

    
    
